# The operator is responsible for paying transaction and query fees
#
# The `LocalWallet` uses the environment variables `OPERATOR_ID`, `OPERATOR_KEY`,
# and `HEDERA_NETWORK`

# Hedera Operator Account ID
OPERATOR_ID=0.0.2

# Hedera Operator Private Key
OPERATOR_KEY=302e020100300506032b65700422042091132178e72057a1d7528025956fe39b0b847f200ab59b2fdd367017f3087137

# Hedera Network
HEDERA_NETWORK={"127.0.0.1:50211":"0.0.3"}